<?xml version="1.0"?>
<robot name="simple_robot">
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <collision>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
      <origin rpy="0 0 0 " xyz="0 0 0"/>
    </collision>
  </link>

  <link name="right_arm">
    <visual>
      <geometry>
        <box size="0.2 0.1 0.4"/>
      </geometry>
      <origin rpy="0 0 0 " xyz="0 0 0"/>
    </visual>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <collision>
      <geometry>
        <box size="0.2 0.1 0.4"/>
      </geometry>
      <origin rpy="0 0 0 " xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="base_to_right_arm" type="fixed">
    <parent link="base_link"/>
    <child link="right_arm"/>
    <origin rpy="0 0 0" xyz="0.2 0.01 0"/>
  </joint>
  
  <link name="left_arm">
    <visual>
      <geometry>
        <box size="0.2 0.1 0.4"/>
      </geometry>
      <origin rpy="0 0 0 " xyz="0 0 0"/>
    </visual>
    <inertial>
      <mass value="0.05"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      <origin rpy="0 0 0 " xyz="0 0 0"/>
    </inertial>
    <collision>
      <geometry>
        <box size="0.2 0.1 0.4"/>
      </geometry>
      <origin rpy="0 0 0 " xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="base_to_left_arm" type="fixed">
    <parent link="base_link"/>
    <child link="left_arm"/>
    <origin rpy="0 0 0" xyz="-0.2 0.01 0"/>
  </joint>

</robot>